


/* $fuenteweb-gral: (
fuente: 'Roboto', 'sans-serif'
)


$carousel-gral: ( 
ancho: 250px,
alto: 250px
)







$titulo-producto: (
tamanio: 2rem,
colorfondo: red,
decoracion: none
) */